<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009030090700-84ilvmaba1ikfjilmgn5n2t5j96rjn8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009030090700-84ilvmaba1ikfjilmgn5n2t5j96rjn8g</string>
	<key>API_KEY</key>
	<string>AIzaSyCYDth55wyRuaxgzeeSv7PZxf5LuhzUJH8</string>
	<key>GCM_SENDER_ID</key>
	<string>1009030090700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PC3.NewsAPI</string>
	<key>PROJECT_ID</key>
	<string>news-api-d6168</string>
	<key>STORAGE_BUCKET</key>
	<string>news-api-d6168.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009030090700:ios:6c05444e4d819de544d769</string>
</dict>
</plist>